# Dependencies
/node_modules

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# Build output
/dist
/build

# Temporary files
.tmp
.temp